In [29]:
import os
import random
from tqdm.notebook import tqdm

import numpy as np
import pandas as pd


from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

from imblearn.over_sampling import SMOTE

ROOT_DIR = "./data"
RANDOM_STATE = 110

In [5]:
# Merge data
# Read csv
X_Dam = pd.read_csv(os.path.join(ROOT_DIR, "Dam dispensing.csv"), low_memory=False)
X_AutoClave = pd.read_csv(os.path.join(ROOT_DIR, "Auto clave.csv"), low_memory=False)
X_Fill1 = pd.read_csv(os.path.join(ROOT_DIR, "Fill1 dispensing.csv"), low_memory=False)
X_Fill2 = pd.read_csv(os.path.join(ROOT_DIR, "Fill2 dispensing.csv"), low_memory=False)

# Rename columns
X_Dam.columns = [i + " - Dam" for i in X_Dam.columns]
X_AutoClave.columns = [i + " - AutoClave" for i in X_AutoClave.columns]
X_Fill1.columns = [i + " - Fill1" for i in X_Fill1.columns]
X_Fill2.columns = [i + " - Fill2" for i in X_Fill2.columns]
X_Dam = X_Dam.rename(columns={"Set ID - Dam": "Set ID"})
X_AutoClave = X_AutoClave.rename(columns={"Set ID - AutoClave": "Set ID"})
X_Fill1 = X_Fill1.rename(columns={"Set ID - Fill1": "Set ID"})
X_Fill2 = X_Fill2.rename(columns={"Set ID - Fill2": "Set ID"})

# Merge X
X = pd.merge(X_Dam, X_AutoClave, on="Set ID")
X = pd.merge(X, X_Fill1, on="Set ID")
X = pd.merge(X, X_Fill2, on="Set ID")
X = X.drop(X[X.duplicated(subset="Set ID")].index).reset_index(drop=True)

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57867 entries, 0 to 57866
Columns: 479 entries, Wip Line - Dam to Unnamed: 131 - Fill2
dtypes: float64(357), int64(77), object(45)
memory usage: 211.5+ MB

In [7]:
X.head()

,Wip Line - Dam,Process Desc. - Dam,Equipment - Dam,Model.Suffix - Dam,Workorder - Dam,LOT ID - Dam,Set ID,Box ID - Dam,Collect Date - Dam,Insp. Seq No. - Dam,...,Collect Result.37 - Fill2,Unit Time.37 - Fill2,Judge Value.37 - Fill2,Collect Result.38 - Fill2,Unit Time.38 - Fill2,Judge Value.38 - Fill2,Collect Result.39 - Fill2,Unit Time.39 - Fill2,Judge Value.39 - Fill2,Unnamed: 131 - Fill2
0,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000002,OP753345013050000002,NaN,2023-05-04 08:57:23,1,...,1,NaN,NaN,1,NaN,NaN,0,NaN,NaN,NaN
1,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000003,OP753345013050000003,NaN,2023-05-04 09:11:35,1,...,2,NaN,NaN,1,NaN,NaN,0,NaN,NaN,NaN
2,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000004,OP753345013050000004,NaN,2023-05-04 09:13:19,1,...,3,NaN,NaN,1,NaN,NaN,0,NaN,NaN,NaN
3,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000005,OP753345013050000005,NaN,2023-05-04 09:15:24,1,...,4,NaN,NaN,1,NaN,NaN,0,NaN,NaN,NaN
4,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000006,OP753345013050000006,NaN,2023-05-04 09:17:27,1,...,5,NaN,NaN,1,NaN,NaN,0,NaN,NaN,NaN

In [8]:
# Time Log (각 단계마다 시간 차이)

X["Collect Date - Dam"] = pd.to_datetime(X["Collect Date - Dam"], format="%Y-%m-%d %H:%M:%S")
X["Collect Date - AutoClave"] = pd.to_datetime(X["Collect Date - AutoClave"], format="%Y-%m-%d %H:%M:%S")
X["Collect Date - Fill1"] = pd.to_datetime(X["Collect Date - Fill1"], format="%Y-%m-%d %H:%M:%S")
X["Collect Date - Fill2"] = pd.to_datetime(X["Collect Date - Fill2"], format="%Y-%m-%d %H:%M:%S")

In [ ]:
X["Time Log1"] = (X["Collect Date - Fill1"] - X["Collect Date - Dam"]).dt.total_seconds()
X["Time Log2"] = (X["Collect Date - Fill2"] - X["Collect Date - Fill1"]).dt.total_seconds()
X["Time Log3"] = (X["Collect Date - AutoClave"] - X["Collect Date - Fill2"]).dt.total_seconds()

In [ ]:
# Feature selecstion
features = []

In [ ]:
# Oversampling

# smote = SMOTE(random_state=RANDOM_STATE)
# X_resampled, y_resampled = smote.fit_resample()