In [100]:
import os
import random
from tqdm.notebook import tqdm

import numpy as np
import pandas as pd


from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

import seaborn as sns
import matplotlib.pyplot as plt

ROOT_DIR = "./data"
RANDOM_STATE = 110

In [101]:
# read csv
df = pd.read_excel(os.path.join(ROOT_DIR, "Dam dispensing.xlsx"), header=[0,1])
# df = pd.read_csv(os.path.join(ROOT_DIR, "Dam dispensing.csv"), low_memory=False)
df.head()

  Collect Item:                                                            \
       Wip Line  Process Desc.         Equipment Model.Suffix   Workorder
0       IVI-OB6  Dam Dispenser  Dam dispenser #1  AJX75334501  3F1X5847-2
1       IVI-OB6  Dam Dispenser  Dam dispenser #1  AJX75334501  3F1X5847-2
2       IVI-OB6  Dam Dispenser  Dam dispenser #1  AJX75334501  3F1X5847-2
3       IVI-OB6  Dam Dispenser  Dam dispenser #1  AJX75334501  3F1X5847-2
4       IVI-OB6  Dam Dispenser  Dam dispenser #1  AJX75334501  3F1X5847-2

                                                                          \
                 LOT ID                Set ID Box ID        Collect Date
0  OP753345013050000002  OP753345013050000002    NaN 2023-05-04 08:57:23
1  OP753345013050000003  OP753345013050000003    NaN 2023-05-04 09:11:35
2  OP753345013050000004  OP753345013050000004    NaN 2023-05-04 09:13:19
3  OP753345013050000005  OP753345013050000005    NaN 2023-05-04 09:15:24
4  OP753345013050000006  OP753345013050000006    NaN 2023-05-04 09:17:27

                 ...    THICKNESS 2                          THICKNESS 3  \
  Insp. Seq No.  ... Collect Result Unit Time Judge Value Collect Result
0             1  ...            0.0       NaN         NaN            0.0
1             1  ...            0.0       NaN         NaN            0.0
2             1  ...            0.0       NaN         NaN            0.0
3             1  ...            0.0       NaN         NaN            0.0
4             1  ...            0.0       NaN         NaN            0.0

                              WorkMode
  Unit Time Judge Value Collect Result Unit Time Judge Value Judge Value.1
0       NaN         NaN            7.0       NaN         NaN           NaN
1       NaN         NaN            7.0       NaN         NaN           NaN
2       NaN         NaN            7.0       NaN         NaN           NaN
3       NaN         NaN            7.0       NaN         NaN           NaN
4       NaN         NaN            7.0       NaN         NaN           NaN

[5 rows x 222 columns]

In [102]:
df.columns

MultiIndex([('Collect Item:',       'Wip Line'),
            ('Collect Item:',  'Process Desc.'),
            ('Collect Item:',      'Equipment'),
            ('Collect Item:',   'Model.Suffix'),
            ('Collect Item:',      'Workorder'),
            ('Collect Item:',         'LOT ID'),
            ('Collect Item:',         'Set ID'),
            ('Collect Item:',         'Box ID'),
            ('Collect Item:',   'Collect Date'),
            ('Collect Item:',  'Insp. Seq No.'),
            ...
            (  'THICKNESS 2', 'Collect Result'),
            (  'THICKNESS 2',      'Unit Time'),
            (  'THICKNESS 2',    'Judge Value'),
            (  'THICKNESS 3', 'Collect Result'),
            (  'THICKNESS 3',      'Unit Time'),
            (  'THICKNESS 3',    'Judge Value'),
            (     'WorkMode', 'Collect Result'),
            (     'WorkMode',      'Unit Time'),
            (     'WorkMode',    'Judge Value'),
            (     'WorkMode',  'Judge Value.1')],
           length=222)

In [103]:
nan_columns = df.columns[df.isnull().any()]
# 전부 NaN이 아니더라도 최소 2000개의 NaN이라서 전부 삭제

In [106]:
nan_columns

MultiIndex([(              'Collect Item:',        'Box ID'),
            (        'CURE END POSITION X',     'Unit Time'),
            (        'CURE END POSITION X',   'Judge Value'),
            (        'CURE END POSITION Z',     'Unit Time'),
            (        'CURE END POSITION Z',   'Judge Value'),
            (        'CURE END POSITION Θ',     'Unit Time'),
            (        'CURE END POSITION Θ',   'Judge Value'),
            (                 'CURE SPEED',     'Unit Time'),
            (                 'CURE SPEED',   'Judge Value'),
            (    'CURE STANDBY POSITION X',     'Unit Time'),
            ...
            ('Stage3 Line4 Distance Speed',   'Judge Value'),
            (                'THICKNESS 1',     'Unit Time'),
            (                'THICKNESS 1',   'Judge Value'),
            (                'THICKNESS 2',     'Unit Time'),
            (                'THICKNESS 2',   'Judge Value'),
            (                'THICKNESS 3',     'Unit Time'),
            (                'THICKNESS 3',   'Judge Value'),
            (                   'WorkMode',     'Unit Time'),
            (                   'WorkMode',   'Judge Value'),
            (                   'WorkMode', 'Judge Value.1')],
           length=143)

In [104]:
df.drop(nan_columns, axis=1, inplace=True)
df.drop(["Process Desc.", "LOT ID"], axis=1, inplace=True)

KeyError: 'Process Desc.'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62479 entries, 0 to 62478
Data columns (total 77 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Wip Line           62479 non-null  object
 1   Equipment          62479 non-null  object
 2   Model.Suffix       62479 non-null  object
 3   Workorder          62479 non-null  object
 4   Set ID             62479 non-null  object
 5   Collect Date       62479 non-null  object
 6   Insp. Seq No.      62479 non-null  int64
 7   Insp Judge Code    62479 non-null  object
 8   Collect Result     62479 non-null  float64
 9   Collect Result.1   62479 non-null  float64
 10  Collect Result.2   62479 non-null  int64
 11  Collect Result.3   62479 non-null  int64
 12  Collect Result.4   62479 non-null  int64
 13  Collect Result.5   62479 non-null  float64
 14  Collect Result.6   62479 non-null  int64
 15  Collect Result.7   62479 non-null  int64
 16  Collect Result.8   62479 non-null  float64
 17  Collect Result.9   62479 non-null  int64
 18  Collect Result.10  62479 non-null  int64
 19  Collect Result.11  62479 non-null  float64
 20  Collect Result.12  62479 non-null  float64
 21  Collect Result.13  62479 non-null  float64
 22  Collect Result.14  62479 non-null  float64
 23  Collect Result.15  62479 non-null  float64
 24  Collect Result.16  62479 non-null  float64
 25  Collect Result.18  62479 non-null  float64
 26  Collect Result.19  62479 non-null  float64
 27  Collect Result.20  62479 non-null  float64
 28  Collect Result.21  62479 non-null  float64
 29  Collect Result.22  62479 non-null  float64
 30  Collect Result.23  62479 non-null  float64
 31  Collect Result.24  62479 non-null  float64
 32  Collect Result.25  62479 non-null  float64
 33  Collect Result.26  62479 non-null  float64
 34  Collect Result.27  62479 non-null  int64
 35  Collect Result.28  62479 non-null  int64
 36  Collect Result.29  62479 non-null  float64
 37  Collect Result.30  62479 non-null  float64
 38  Collect Result.31  62479 non-null  float64
 39  Collect Result.32  62479 non-null  float64
 40  Collect Result.33  62479 non-null  int64
 41  Collect Result.34  62479 non-null  float64
 42  Collect Result.35  62479 non-null  float64
 43  Collect Result.36  62479 non-null  float64
 44  Collect Result.37  62479 non-null  float64
 45  Collect Result.38  62479 non-null  float64
 46  Collect Result.39  62479 non-null  float64
 47  Collect Result.40  62479 non-null  int64
 48  Collect Result.41  62479 non-null  int64
 49  Collect Result.42  62479 non-null  int64
 50  Collect Result.43  62479 non-null  int64
 51  Collect Result.44  62479 non-null  int64
 52  Collect Result.45  62479 non-null  int64
 53  Collect Result.46  62479 non-null  int64
 54  Collect Result.47  62479 non-null  int64
 55  Collect Result.48  62479 non-null  int64
 56  Collect Result.49  62479 non-null  int64
 57  Collect Result.50  62479 non-null  int64
 58  Collect Result.51  62479 non-null  int64
 59  Collect Result.52  62479 non-null  int64
 60  Collect Result.53  62479 non-null  int64
 61  Collect Result.54  62479 non-null  int64
 62  Collect Result.55  62479 non-null  int64
 63  Collect Result.56  62479 non-null  int64
 64  Collect Result.57  62479 non-null  int64
 65  Collect Result.58  62479 non-null  int64
 66  Collect Result.59  62479 non-null  int64
 67  Collect Result.60  62479 non-null  int64
 68  Collect Result.61  62479 non-null  int64
 69  Collect Result.62  62479 non-null  int64
 70  Collect Result.63  62479 non-null  int64
 71  Collect Result.64  62479 non-null  int64
 72  Collect Result.65  62479 non-null  int64
 73  Collect Result.66  62479 non-null  int64
 74  Collect Result.67  62479 non-null  float64
 75  Collect Result.68  62479 non-null  float64
 76  Collect Result.69  62479 non-null  float64
dtypes: float64(32), int64(38), object(7)
memory usage: 36.7+ MB

In [ ]:
df.describe()

,Insp. Seq No.,Collect Result,Collect Result.1,Collect Result.2,Collect Result.3,Collect Result.4,Collect Result.5,Collect Result.6,Collect Result.7,Collect Result.8,...,Collect Result.60,Collect Result.61,Collect Result.62,Collect Result.63,Collect Result.64,Collect Result.65,Collect Result.66,Collect Result.67,Collect Result.68,Collect Result.69
count,62479.000000,62479.000000,62479.000000,62479.000000,62479.000000,62479.0,62479.0,62479.0,62479.000000,62479.0,...,62479.000000,62479.000000,62479.000000,62479.000000,62479.000000,62479.000000,62479.000000,62479.000000,62479.000000,62479.000000
mean,1.055491,526.257695,6.328646,-21.216889,73.616559,1150.0,33.5,0.0,747.526689,33.5,...,6522.093824,6522.093824,6516.011780,6519.620993,6516.011780,6518.476608,3466.795243,-0.001662,-0.008205,2.894915
std,0.247805,367.155839,4.869219,87.464084,9.945053,0.0,0.0,0.0,362.329333,0.0,...,1752.201752,1752.201752,1747.053612,1752.583970,1747.053612,1752.759645,3045.446957,0.009546,0.033493,3.452136
min,1.000000,240.000000,2.500000,-90.000000,32.000000,1150.0,33.5,0.0,280.000000,33.5,...,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,0.000000,-0.054000,-0.219000,-0.118000
25%,1.000000,240.000000,2.500000,-90.000000,70.000000,1150.0,33.5,0.0,280.000000,33.5,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,240.000000,2.500000,-90.000000,70.000000,1150.0,33.5,0.0,1030.000000,33.5,...,6500.000000,6500.000000,6500.000000,6500.000000,6500.000000,6500.000000,4000.000000,0.000000,0.000000,0.000000
75%,1.000000,1000.000000,12.500000,90.000000,70.000000,1150.0,33.5,0.0,1030.000000,33.5,...,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,6500.000000,0.000000,0.000000,7.000000
max,4.000000,1000.000000,13.500000,90.000000,105.000000,1150.0,33.5,0.0,1030.000000,33.5,...,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,0.037000,0.007000,7.000000

In [ ]:
df["Equipment"].unique()

array(['Dam dispenser #1', 'Dam dispenser #2'], dtype=object)

In [ ]:
df["Equipment"] = df["Equipment"].str.split("#", expand=True)[1]

In [ ]:
df.head()

,Wip Line,Equipment,Model.Suffix,Workorder,Set ID,Collect Date,Insp. Seq No.,Insp Judge Code,Collect Result,Collect Result.1,...,Collect Result.60,Collect Result.61,Collect Result.62,Collect Result.63,Collect Result.64,Collect Result.65,Collect Result.66,Collect Result.67,Collect Result.68,Collect Result.69
0,IVI-OB6,1,AJX75334501,3F1X5847-2,OP753345013050000002,2023-05-04 08:57:23,1,OK,240.0,2.5,...,9000,9000,7000,9000,7000,9000,0,0.0,0.0,7.0
1,IVI-OB6,1,AJX75334501,3F1X5847-2,OP753345013050000003,2023-05-04 09:11:35,1,OK,240.0,2.5,...,9000,9000,7000,9000,7000,9000,0,0.0,0.0,7.0
2,IVI-OB6,1,AJX75334501,3F1X5847-2,OP753345013050000004,2023-05-04 09:13:19,1,OK,240.0,2.5,...,9000,9000,7000,9000,7000,9000,0,0.0,0.0,7.0
3,IVI-OB6,1,AJX75334501,3F1X5847-2,OP753345013050000005,2023-05-04 09:15:24,1,OK,240.0,2.5,...,9000,9000,7000,9000,7000,9000,0,0.0,0.0,7.0
4,IVI-OB6,1,AJX75334501,3F1X5847-2,OP753345013050000006,2023-05-04 09:17:27,1,OK,240.0,2.5,...,9000,9000,7000,9000,7000,9000,0,0.0,0.0,7.0

In [ ]:
df["Model.Suffix"].unique()

array(['AJX75334501', 'AJX75334503', 'AJX75334502', 'EAT65200901',
       'AJX75334505', 'AJX75334506', 'AJX75334507', 'AJX75334508'],
      dtype=object)

In [ ]:
df["Model.Suffix - 1"] = df["Model.Suffix"].str[:4]
# e.g. AJX7

In [ ]:
df["Workorder - 1"] = df["Workorder"].str.split('-', expand=True)[0].str[:4]
# e.g. 3FIX

In [ ]:
df["Collect Date"] = pd.to_datetime(df["Collect Date"], format="%Y-%m-%d %H:%M:%S")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62479 entries, 0 to 62478
Columns: 222 entries, ('Collect Item:', 'Wip Line') to ('WorkMode', 'Judge Value.1')
dtypes: datetime64[ns](1), float64(173), int64(38), object(10)
memory usage: 105.8+ MB

In [96]:
df["Collect Result.66"]

KeyError: 'Collect Result.66'